<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Project Software Release</h2>
            <h3 class="oe_slogan">Management of Software Releases</h3>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_centered oe_muted">
            More information about Odoo Services of <a style="color:#6d57e0"
                                                       href="https://jamotion.ch/"
                                                       target="_blank">Jamotion
            GmbH here...</a>
        </div>
    </div>
</section>